@{
    ViewBag.Title = "Health articles";
}
@section Signout{
    @Html.Partial("~/Views/Shared/_logout.cshtml")
}
<div ng-app="LifeStruct" ng-controller="articleIndexCtrl">
    <input type="text" class="ipt search right" placeholder="Search" />
    @Html.ActionLink("Return", "Index", "Health", null, new { @class = "return" })
    <div class="content">
        <div class="articles">
            <div class="article">
                <div class="header"></div>
                <div class="content"></div>
                <div class="user-section"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/JS/layout/article.js"></script>
<script>
    article.init();
</script>