.diet {
    background-color: $gre-1;
    color: $w;
    padding: $spd;

    .mce-panel {
        background-color: $w;
    }

    .mce-btn {
        background-color: $w;
    }
}

.create-diet {
    width: 100%;
    @extend .ib;

    .ipt {
        width: 100%;
    }

    .period {
        color: $w;
        background-color: $gre-1;

        a {
            color: #333;
        }

        input {
            width: 100%;
        }
    }

    .days {
        width: 100%;
        padding: $spd;
        @extend .ib;
        background-color:#93EBD9;
        border: 1px solid rgba(133,133,133,0.2);
        border-bottom: none;
    }

    .meals {
        margin-bottom: 20px;
    }
    .week-container {      
        width: 48%;
        float:right;
        padding-top: ($spd+5);
        margin-right: 1%;
        margin-bottom: 1%;
    .weeks {
        padding: $spd;
        width: 100%;
        @extend .ib;
        background: #42C1A8;
    }

    .week {
        background: $gre-2;
    }
    }
    .pnl {
        padding: $spd;
        background-color:#CAF9F0;        
        color: #333;
        a{            
        color: #333;
        }
    }


    .btn {
        border: 1px solid rgba(133,133,133,0.2);
        border-bottom: 0;
        margin: 0;
        color:#333;
    }

    .add-more {
        border: none;
        background: #93EBD9;
    }
    .information {
        width:48%;
        float:left;
        padding:15px;
        position:relative;
        
       
.img-edit {
    margin-top: 15px;
    position:relative;
            img {
            width:100%;
        }
        label{
            cursor:pointer;
            display:none;
            position:absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
            padding-top: 25%;
            text-align:center;
            color: $w;

        }
        &:hover {
            label {
                display:block;
            }
        }
        }
    } 
    .picture {
        width: 48%;
        float:right;
        padding: $spd;
        .btn {
            margin: 5px 0;
        }
        img{
            max-height: 200px;
        }
    }
    .description-btn {
        background-color: $gre-1;
    }
    
    .mce-panel {
        background-color: $w;
    }
    .mce-btn {
        background-color: $w;
    }
}
.add-diet {
}
.diet-search {
    float:right;
    border: 1px solid rgb(190,190,190);
}
.diet-schedule {
    table {
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;


        thead {
            background-color: $gre-2;
        }

        td, th {
            padding: $spd 15px $spd 15px;
            vertical-align: text-top;
        }

        tr {
            td {
                background-color: $gre-3;
                border: 2px solid $gre-1;
                padding: 0;

                &:first-child {
                    background-color: $gre-2;
                    padding: $spd 15px $spd 15px;
                }
            }
        }

        table {
            tr {
                td {
                    padding: $spd 25px $spd 25px;
                    border: none;
                    border-bottom: 1px solid $gre-1;
                    border-right: 2px solid $gre-1;
                &:first-child {
                    background-color: $gre-3;
                    padding: $spd 15px $spd 15px;
                    border-right: 1px solid $gre-1;
                }
                }
            }
        }
    }
}
.diet-information {
    max-width: 750px;
    margin-bottom: 30px;
    img {
        display:block;
        width: 100%;
    }
    .description {
        background-color: $w;
        padding: $spd;
    }
}