@using LifeStruct.Models
@using LifeStruct.Models.Account
@model LifeStruct.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Welcome";
}
<div class="login">
    <script src="~/Content/JS/plugins/facebook.js"></script>
    <h3>Login with:</h3><hr />
    @Html.Partial("~/Views/Shared/_ExternalLogin.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
 </div>

<script src="~/Content/JS/layout/overlay.js"></script>
<script>
    overlay.init('g1-o6');
</script>