@{
    ViewBag.Title = "Home Page";
}

<div class="type-1">
    <a href="/Profile/Index">
        <div class="tile g3">
            <span class="icon-user"></span>
        </div>
    </a>
    <div id="mood" class="tile g4">
        <span class="icon-smiling-face"></span>
    </div>
    <div class="mood hide">
        <div class="tile i">
            <span class="icon-neutral-face"></span>
        </div>
        <div class="tile h">
            <span class="icon-smiling-face"></span>
        </div>
        <div class="tile s">
            <span class="icon-sad-face"></span>
        </div>
    </div>
</div>
<div class="type-1">
    <a href="/Health/Index">
        <div class="tile r1">
            <span class="icon-heart"></span>
        </div>
    </a>
    <a href="/Diets/Index">
        <div class="tile g3">
            <span class="icon-lunch"></span>
        </div>
    </a>
    <a href="/Fitness/Index">
        <div class="tile g1">
            <span class="icon-sports-shoe"></span>
        </div>
    </a>
    <a href="/Videos/Index">
        <div class="tile g2">
            <span class="icon-play yt"></span>
        </div>
    </a>
    <div class="tile r1">
        <span class="icon-share2"></span>
    </div>
</div>
<div class="type-2">
    <div class="tile g4">
        <span class="icon-pie-chart">
        </span>
    </div>
</div>