
@{
    ViewBag.Title = "CreateRevised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="diet-container bg-green-0 ng-scope" ng-app="LifeStruct">
    <div class="content" ng-controller="diet-controller">
        <h2>CreateRevised</h2>
        <div>
            <input type="text" class="ipt" placeholder="Title" ng-model="dietModel.Title" />
            <div class="error" ng-repeat="error in errors">
                <b>{{error.Title}}</b>
            </div>
        </div>
        <div>
            <textarea class="ipt" placeholder="Description" ng-model="dietModel.Description"></textarea>
            <div ng-repeat="error in errors">
                <b>{{error.Description}}</b>
            </div>
        </div>
        <div>
            <input type="file" class="ipt" ng-model="dietModel.Img" />
        </div>
        <div>
            <input type="text" class="ipt" placeholder="Tags" ng-model="dietModel.Tags" />
            <div ng-repeat="error in errors">
                <b>{{error.Tags}}</b>
            </div>
        </div>
        <div class="diet-days" ng-repeat="day in days">
            <div ng-init="dayIndex = $index"></div>
            <h3 class="accordion">{{day}}</h3>
            <div class="diet-meals">
                <div class="diet-meal" ng-repeat="meal in meals">
                    <div ng-init="mealIndex = $index"></div>
                    <h4>{{meal}}</h4>
                    <div class="diet-edibles" ng-repeat="edible in mealsCollectionModel" ng-if="dayIndex == edible.Day && mealIndex === edible.Meal">
                        <input type="text" ng-keyup="searchFood(edible.Name); keyDown($event);" class="autocomplete-input ipt" ng-model="edible.Name" placeholder="Edible" />
                        @* Autocomplete start*@
                        <div class="autocomplete-container" ng-if="edible.Name.length > 0">
                            <div class="autocomplete">
                                <div ng-repeat="food in allFood | filter:edible.Name | limitTo: 5 | orderBy: 'Name.length'">
                                    <a class="autocomplete-items" ng-keyup="keyDown($event)" ng-click="selectFood(edible, food)" href="">
                                        <span>{{food.Name}}</span>
                                        <span class="small-font right">
                                            <b>Cal:</b>
                                            {{food.Calories}}
                                        </span>
                                    </a>
                                </div>
                                <div ng-if="allFood.length == 0">
                                    <a class="open-modal autocomplete-items" data-url="@(Url.Action("_AddNewFood"))" href="">
                                        Could not find {{edible.Name}} do you wish to create it?
                                    </a>
                                </div>
                            </div>
                        </div>
                        @* Autocomplete end *@
                        <div>
                            <span remove-me ng-click="addEdible(1, mealIndex, dayIndex, edible.Edible +1)">Add Edible</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" ng-click="createDiet(dietModel, mealsCollectionModel)" class="btn"/>
        </div>
    </div>
    <div class="modal-overlay">
        <div id="modal">
        </div>
    </div>
</div>
<script src="~/Content/JS/layout/accordion.js"></script>
<script src="~/Content/JS/layout/dietRevised.js"></script>
<script src="~/Content/JS/layout/autocomplete.js"></script>
<script>
    autocomplete.resize('.autocomplete-input', '.autocomplete')
</script>