.diet {
    background-color: $gre-1;
    color: $w;
    padding: $spd;
}

.create-diet {
    width: 50%;
    @extend .ib;
    .ipt {
        width:100%;
    }
    
.add-diet {
    position: absolute;
    right: 30px;
    bottom: 25px;
    border-radius: 50px;
    padding: 18px 25px;
    color: $w;
    font-size: 1.4em;
    background-color: $red-1;
    cursor: pointer;
}

.period {
    color: $w;
    background-color: $gre-2;
    h3 {
        padding: $spd 0 0 $spd;
    }
    a {
        color: $w;
    }
    input {
        width:100%;
    }
}

.days {
    width: 100%;
    padding: $spd;
    @extend .ib;
    background-color: $gre-1;
    border: 1px solid rgba(133,133,133,0.2);
    border-bottom: none;
}
.meals {
    margin-bottom: 20px;
}
.weeks {
    padding: $spd;
    width: 100%;
    @extend .ib;
    background: $gre-4;
}
.week {
    background:$gre-2;
}

.pnl {
    padding: $spd;
}

.diet-schedule {
    ul {
        li {
            list-style: none;
            margin: 5px 0;
        }

        margin-bottom: $spd;
        .day {
            margin-bottom: 10px;
        }
        .meal {
            ul {
                margin-bottom: $spd;
            }
        }
    }
}
.btn {
    border: 1px solid rgba(133,133,133,0.2);
    border-bottom:0;
    margin: 0;

}
.add-more {
    background: $gre-1;
}

}
