
    <div>
        <h3>Add a food or a drink</h3>
        <input type="text" class="ipt" placeholder="Name" />
    </div>

    <div>
        <input type="text" class="ipt" placeholder="kcal per gram" />
    </div>
<div>
    <a href="" class="btn ipt">Create</a>
</div>