
    <div>
        <h3>Add a food or a drink</h3>
        <input type="text" class="ipt" placeholder="Name" />
    </div>

    <div>
        <h3>Fill at least one</h3>
        <input type="text" class="ipt" placeholder="kcal pr. 100 gram" />
    </div>
    <div>
        <input type="text" class="ipt" placeholder="kcal pr. 100 ml" />
    </div>
    <div>
        <input type="text" class="ipt" placeholder="kcal pr. 1 pcs" />
    </div>