@model YouGo.Models.DietModel

@{ 
    ViewBag.Title = "Create your own diet";
    var user = YouGo.Models.UserViewModel.GetCurrentUser();
}
<div ng-app="yougo">
    <div class="create-diet" ng-controller="dietPostCtrl">
        <div class="diet">
            <form name="myForm">
                <input type="hidden" id="UserId" name="UserId" value="@user.Id.Replace("-", "")" />
                <div class="">
                    <input name="Title" class="ipt" placeholder="Title" required ng-model="Title" />
                    <div ng-if="!myForm.Title.$valid && isClicked">
                        <div>This field is required</div>
                    </div>
                </div>
                <div class="">
                    <textarea name="Description" placeholder="Description" required class="ipt" ng-model="Description"></textarea>
                    <div ng-if="!myForm.Description.$valid && isClicked">
                        <div>This field is required</div>
                    </div>
                </div>
                <div class="">
                    <label class="btn ib" for="upl">Upload image</label>
                    <input ng-model="Img" type="file" class="hide" id="upl" />
                </div>
                <div>
                    <a ng-click="newDiet();" href="" class="btn ib blogin">Next</a>
                </div>

            </form>
        </div>

    </div>

    <div class="create-diet" ng-controller="dietGetCtrl">
        <div class="period hide">
            <h3>{{Data.Title}}</h3><br />
            <div ng-repeat="plan in plans" class="plan">
                Plan {{$index +1}}
                <div>
                    <input type="text" data-no="{{$index + 1}}" placeholder="Title ex.: Day 1, Week 1" class="ipt" />
                </div>
                <div>
                    <input type="text" data-no="{{$index + 1}}" placeholder="Edible" class="ipt" />
                </div>
                <div>
                    <input type="text" data-no="{{$index + 1}}" placeholder="Amount" class="ipt" />
                </div>

                <div class="edible" ng-repeat="edible in plans[$index].edibles">
                    <div>
                        <input type="text" data-no="{{$index + 1}}" placeholder="Edible" class="ipt" />
                    </div>
                    <div>
                        <input type="text" data-no="{{$index + 1}}" placeholder="Amount" class="ipt" />
                    </div>
                </div>

                <div>
                    <a ng-click="addEdible($index);" class="btn ib" href="">Add more edibles</a>
                </div>
            </div>
            <br />
            <div>
                <a ng-click="addPlan();" class="btn ib" href="">Add another plan</a>
            </div>

            <div>
                <a class="btn ib" href="">Finish</a>
            </div>
        </div>
    </div>
</div>
    <script src="~/Content/JS/plugins/angular.min.js"></script>
    <script src="~/Content/JS/layout/diet.js"></script>
