$base: #333;
$white: #fff;
$beige: #f5fae9;
$blue-1: #73AFAD;
$blue-2: #34495E;
$green-0: #bee1c8;
$green-1: #96D4BF;
$green-2: rgb(90,210,155);
$green-3: #A2AB58;
$green-4: #1ABC9C;
$green-5: #16A085;
$green-6: #639C89;
$green-1-o6:rgba(22, 160, 133, 0.60);
$orange-1: #FDE3A7;
$orange-2: #F4B350;
$orange-3: #EB974E;
$orange-4: #D9853C;
$red-1: #F57979;
$red-2: #E44424;
$happy: #00AF5E;
$sad: #CEB3A8;
$indifferent: #D4E8D6;
$facebook: #3B5998;
$google: #D34836;
$twitter: #55ACEE;
$youtube: #E52727;
.bg-beige-0 {
    background: $beige;
    color: $base;
}
.bg-blue-1 {
    background: $blue-1;
    color: $white;
}
.bg-blue-2 {
    background: $blue-2;
    color: $white;
}
.bg-green-0 {
    background: $green-0;
    color: $base;
}
.bg-green-1 {
    background: $green-1;
    color: $white;
}
.bg-green-1-o6 {
    background: $green-1-o6;
    color: $white;
}
.bg-green-2 {
    background: $green-2;
    color: $white;
}
.bg-green-3 {
    background: $green-3;
    color: $white;
}
.bg-green-4 {
    background: $green-4;
    color: $white;
}
.bg-green-6 {
    background: $green-6;
    color: $white;
}
.bg-red-1 {
    background: $red-1;
    color: $white;
}
.bg-red-2 {
    background: $red-2;
    color: $white;
}
.bg-orange-1 {
    background: $orange-1;
    color: $white;
}
.bg-orange-2 {
    background: $orange-2;
    color: $white;
}
.bg-orange-3 {
    background: $orange-3;
    color: $white;
}
.bg-orange-4 {
    background: $orange-4;
    color: $white;
}
.bg-white {
    background-color: $white;
    color: $base;
    border: 1px solid rgb(190,190,190);
}
.bg-sad {
    background: $sad;
}
.bg-happy {
    background: $happy;
}
.bg-indifferent {
    background: $indifferent;
}
.youtube { 
    color: $youtube;
}
.google {
    background-color: $google !important;
    color: $white;
}
.twitter {
    background-color: $twitter !important;
    color: $white;
}
.facebook {
    background-color: $facebook !important;
    color: $white;
}
.bg-signup {
    background-color: $green-1;
    color: $white;

}
.bg-login {
    background-color: $green-2;
    color: $white;
}