.progress {
    border-collapse: collapse;
    width: 100%;


    th {
        padding: $spd 0 5px $spd;
    }

    .parent {
        cursor: pointer;
        border-collapse: collapse;
        background-color: $gre-2;
        width: 100%;
        max-width: 300px;
        border-right: 1px solid $gre-1;
        border-bottom: 1px solid $gre-1;


        td {
            padding: $spd;

            div {
                text-align: right;
            }
        }
    }
    
        .done {
            background-color: $gre-5 !important;
        }
}




.explain {
    display: inline-block;

    h3, p {
        display: inline-block;
    }

    span {
        display: inline-block;
        width: 30px;
        height: 20px;
    }

    .done {
        background-color: $gre-5;
    }

    .undone {
        background-color: $gre-2;
    }

    .con {
        display: inline-block;

        h3, p, .done, .undone {
            float: left;
        }

        p, .done, .undone {
            margin: 3px 0 0 10px;
        }

        p {
            margin-left: 30px;
        }
    }
}

.totalIntake {
    display: none;
    padding-top: 20%;
}
