.statistics {
    width:100%;
    float:left;
    @extend .w;
    .stats {
        width: 60%;
        margin: 100px auto;
        h3, p {
            margin: 10px 40px;
        }
        canvas {
            margin-top: 20px;
        }
    }
}