

@using (Html.BeginForm("CreateDiet", "Diets", FormMethod.Post))
{

    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="create-diet" ng-controller="dietGetCtrl">

        <div class="period hide">

            <h3>{{Data.Title}}</h3><br />

            <div ng-repeat="w in week" class="plan">

                <div ng-init="weekInit=$index"></div>
                <a ng-click="weekClick(w.no);" href="" class="weeks">Uge {{w.no}}</a>
                <div class="week" ng-class="wC.indexOf(w.no) > -1 ? '' : 'hide'" ng-repeat="day in w.days">
                    <a ng-click="dayClick(day.day + ',' + w.no);" class="days" href="">{{day.day}}</a>
                    <div ng-class="dC.indexOf(day.day + ',' + w.no) > -1 ? '' : 'hide'" class="pnl">
                        <div class="meals" ng-repeat="meal in day.meals">
                            <h4>{{meal.name}}</h4>
                            <!-- Edible first repeater-->
                            <div ng-init="mealInit=$index"></div>
                            <div ng-init="Ids = 'w' + (weekInit +1) + '_m' + (mealInit +1) + '_d' + day.id"></div>

                            <input autocomplete="off" type="text" ng-model="searches.searchEdibles[Ids + '_e' + 0]" id="{{'selected' + Ids + '_e' + 0 + '_sI'}}" ng-keypress="hideResult(Ids + '_e' + 0, false); setId(Ids + '_e' + 0);" ng-keyup="results('result' + Ids + '_e' + 0, searches.searchEdibles[Ids + '_e' + 0]);" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0] , 'selected' + Ids + '_e' + 0 + '_sI', searches.searchEdibles[Ids + '_e' + 0]); autoHide('autocomplete' + Ids + '_e' + 0, false);" name="name_{{Ids + '_e' + 0}}" placeholder="Edible" class="ipt" />
                            <div class="autocomplete-container">
                                <div class="autocomplete" id="{{'autocomplete' + Ids + '_e' + 0}}" ng-if="searches.searchEdibles[Ids + '_e' + 0].length > 0">
                                    <div ng-repeat="food in allFood | filter:searches.searchEdibles[Ids + '_e' + 0] | limitTo: 5 | orderBy: 'Name.length'">
                                        <a class="{{result.autoComplete['selected' + Ids + '_e' + 0 + '_sI' + $index] ? 'autocomplete-selected' : ''}}" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0], 'selected' + Ids + '_e' + 0 + '_sI',searches.searchEdibles[Ids + '_e' + 0]);" id="{{'selected' +Ids + '_e' + 0 + '_sI' + ($index+1)}}" ng-click="setCalories(food.Calories, Ids + '_e' + 0); autoHide('autocomplete' + Ids + '_e' + 0, true); setFoodId('foodId_' + Ids + '_e' + 1, food.Id);searches.searchEdibles[Ids + '_e' + 0] = food.Name; " href="">{{food.Name}}</a>
                                    </div>
                                    <div class="hide" id="{{'result' + Ids + '_e' + 0}}">
                                        <a class="open-modal {{result.autoComplete['selected_' + Ids + '_e' + 0 + '_sI' + 0] ? 'autocomplete-selected' : ''}}" data-url="@(Url.Action("_AddNewFood"))" data-content="{{searches.searchEdibles[Ids + '_e' + 0]}}" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0],  'selected' + Ids + '_e' + 0 + '_sI',searches.searchEdibles[Ids + '_e' + 0]);" id="{{'selected_' +Ids + '_e' + 0 + '_sI' + 0}}" href="">Could not find {{searches.searchEdibles[Ids + '_e' + 0]}} do you wish to create it?</a>
                                    </div>

                                </div>
                            </div>
                            <input type="hidden" id="foodId_{{Ids + '_e' + 1}}" name="foodId_{{Ids + '_e' + 1}}" value="{{foodId}}" />
                            <input type="number" ng-model="measureEdible" placeholder="Amount" name="amount_{{Ids + '_e' + 0}}" class="ipt" />
                            <div ng-if="measureEdible != null" ng-model="am.amountS[Ids + '_e' + 0]">
                                {{((am.amountS[Ids + '_e' + 0] /100)* measureEdible | number: 0).replace(',', '.')}} kcal
                            </div>
                            <!-- Edible second repeater-->
                            <div class="edible" ng-repeat="edible in day.meals[mealInit].edibles">
                                <div  class="meals" ng-init="edibleInit=($index +2)"></div>

                                <input autocomplete="off" type="text" ng-model="searches.searchEdibles[Ids + '_e' + edibleInit]" id="{{'selected' + Ids + '_e' + edibleInit + '_sI'}}" ng-keypress="hideResult(Ids + '_e' + edibleInit, false); setId(Ids + '_e' + edibleInit);" ng-keyup="results('result' + Ids + '_e' + edibleInit, searches.searchEdibles[Ids + '_e' + edibleInit]);" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0], 'selected' + Ids + '_e' + edibleInit + '_sI', searches.searchEdibles[Ids + '_e' + edibleInit]); autoHide('autocomplete' + Ids + '_e' + edibleInit, false);" name="name_{{Ids + '_e' + edibleInit}}" placeholder="Edible" class="ipt" />
                                <div class="autocomplete-container">
                                    <div class="autocomplete" id="{{'autocomplete' + Ids + '_e' + edibleInit}}" ng-if="searches.searchEdibles[Ids + '_e' + edibleInit].length > 0">
                                        <div ng-repeat="food in allFood | filter:searches.searchEdibles[Ids + '_e' + edibleInit] | limitTo: 5 | orderBy: 'Name.length'">
                                            <a class="{{result.autoComplete['selected' + Ids + '_e' + edibleInit + '_sI' + $index] ? 'autocomplete-selected' : ''}}" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0], 'selected' + Ids + '_e' + edibleInit + '_sI',searches.searchEdibles[Ids + '_e' + edibleInit]);" id="{{'selected' +Ids + '_e' + edibleInit + '_sI' + ($index+1)}}" ng-click="setCalories(food.Calories, Ids + '_e' + edibleInit); autoHide('autocomplete' + Ids + '_e' + 0, true); setFoodId('foodId_' + Ids + '_e' + (edibleInit+1), food.Id);searches.searchEdibles[Ids + '_e' + edibleInit] = food.Name; " href="">{{food.Name}}</a>
                                        </div>
                                        <div class="hide" id="{{'result' + Ids + '_e' + edibleInit}}">
                                            <a class="open-modal {{result.autoComplete['selected_' + Ids + '_e' + edibleInit + '_sI' + 0] ? 'autocomplete-selected' : ''}}" data-url="@(Url.Action("_AddNewFood"))" data-content="{{searches.searchEdibles[Ids + '_e' + edibleInit]}}" ng-keydown="selectResult($event, allFood | filter:searches.searchEdibles[Ids + '_e' + 0],  'selected' + Ids + '_e' + edibleInit + '_sI',searches.searchEdibles[Ids + '_e' + edibleInit]);" id="{{'selected_' +Ids + '_e' + edibleInit + '_sI' + 0}}" href="">Could not find {{searches.searchEdibles[Ids + '_e' + edibleInit]}} do you wish to create it?</a>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="foodId_{{Ids + '_e' + edibleInit}}" name="foodId_{{Ids + '_e' + edibleInit}}" value="{{foodId}}" />
                                <input type="number" placeholder="Amount" ng-model="measurement" class="ipt" name="amount_{{Ids + '_e' + edibleInit}}" />
                                <div ng-if="measurement != null" ng-model="am.amountS[Ids + '_e' + edibleInit]">
                                    {{(am.amountS[Ids + '_e' + edibleInit] /100)* measurement}} kcal
                                </div>
                            </div>

                            <div>
                                <a ng-click="addEdible(day, w.no, meal.no);" class="btn ib add-more" href="">Add more edibles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a ng-click="addWeek();" class="btn ib" href="">Add another week</a>


            <input class="btn" type="submit" value="Finish">
            <div class="modal-overlay">
                <div id="modal">

                </div>
            </div>
        </div>
    </div>
}