<div>
    <h3>Add a food or a drink</h3>
    <input type="text" id="edible_name" name="name" class="ipt" placeholder="Name" />
    <div class="hide">
        You forgot to fill in name
    </div>
</div>

<div>
    <input type="number" id="edible_calories" class="ipt" placeholder="kcal per 100 gram" />
    <div class="hide">
        You forgot to fill in kcal per 100 gram
    </div>
</div>
<div>
    <a href="" onclick="event.preventDefault(); modal.addFood();" class="btn ipt">Create</a>
</div>