@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';
html, body {
  height: 100%; }

html, body, div, p, h1, h2, h3, h4, h5, h6, button, a, li, ul, input {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

button, input {
  border: none; }

button, input[type="submit"] {
  cursor: pointer; }

.right, .type-1 .tile, .type-1 .tile-2, .type-1 .tile-3, .type-1 .tile-4, .type-1 .tile-5, .login a, .login button {
  float: right; }

.left, .type-1, .type-2, .type-2 .tile, .type-2 .tile-2, .type-2 .tile-3, .type-2 .tile-4, .type-2 .tile-5 {
  float: left; }

.clear, .type-1:after, .type-2:after {
  clear: both; }

.hide {
  display: none; }

.ib, .container, .type-1, .type-2, .tile span, .account-details li span, #modal, .create-diet, .create-diet .days, .create-diet .week-container .weeks {
  display: inline-block; }

table {
  text-align: left; }
  table td {
    vertical-align: text-top;
    padding: 0; }

.b1 {
  background: #73AFAD;
  color: #fff; }

.b2 {
  background: #34495E;
  color: #fff; }

.g1 {
  background: #16A085;
  color: #fff; }

.g1-o6 {
  background: rgba(22, 160, 133, 0.6);
  color: #fff; }

.g2 {
  background: #1ABC9C;
  color: #fff; }

.g3 {
  background: #96D4BF;
  color: #fff; }

.g4 {
  background: #639C89;
  color: #fff; }

.g6 {
  background: #A2AB58;
  color: #fff; }

.r1 {
  background: #F57979;
  color: #fff; }

.r2 {
  background: #E44424;
  color: #fff; }

.orange1 {
  background: #EB974E;
  color: #fff; }

.orange2 {
  background: #F4B350;
  color: #fff; }

.orange3 {
  background: #FDE3A7;
  color: #fff; }

.orange4 {
  background: #D9853C;
  color: #fff; }

.w, .diet-information .description, .fitness-details, .articles .no-results, .articles .article, .details-article {
  background-color: #fff;
  color: #333;
  border: 1px solid #bebebe; }

.s {
  background: #CEB3A8; }

.h {
  background: #00AF5E; }

.i {
  background: #D4E8D6; }

.yt {
  color: #E52727; }

.Google {
  background-color: #D34836 !important;
  color: #fff; }

.Twitter {
  background-color: #55ACEE !important;
  color: #fff; }

.Facebook {
  background-color: #3B5998 !important;
  color: #fff; }

.bsignup {
  background-color: #16A085;
  color: #fff; }

.blogin {
  background-color: #1ABC9C;
  color: #fff; }

body, html, button, input, textarea, select, option {
  font-size: 12pt;
  font-family: 'Roboto', 'Open Sans', Verdana, Calibri, sans-serif;
  color: #333; }

a {
  color: #333;
  text-decoration: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?87335t");
  src: url("../fonts/icomoon.eot?87335t#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?87335t") format("truetype"), url("../fonts/icomoon.woff?87335t") format("woff"), url("../fonts/icomoon.svg?87335t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-food:before {
  content: "\e900"; }

.icon-lunch:before {
  content: "\e900"; }

.icon-soup:before {
  content: "\e900"; }

.icon-checkered-flag:before {
  content: "\e906"; }

.icon-sad-face:before {
  content: "\e901"; }

.icon-smiling-face:before {
  content: "\e902"; }

.icon-neutral-face:before {
  content: "\e903"; }

.icon-sports-shoe:before {
  content: "\e904"; }

.icon-pencil:before {
  content: "\e905"; }

.icon-undo2:before {
  content: "\e967"; }

.icon-user:before {
  content: "\e971"; }

.icon-pie-chart:before {
  content: "\e99a"; }

.icon-bin:before {
  content: "\e9ac"; }

.icon-flag:before {
  content: "\e9cc"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-exit:before {
  content: "\ea14"; }

.icon-play3:before {
  content: "\ea1c"; }

.icon-loop2:before {
  content: "\ea2e"; }

.icon-arrow-up:before {
  content: "\ea32"; }

.icon-arrow-down:before {
  content: "\ea36"; }

.icon-share2:before {
  content: "\ea82"; }

body {
  background-color: #96cb96;
  background: url("../img/web/pexels-photo.jpg");
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 768px) {
    body {
      background: #96cb96; } }

.container {
  margin: 0 15%;
  width: 70%;
  min-width: 320px; }
  @media (min-width: 768px) and (max-width: 1259px) {
    .container {
      width: 90%;
      margin: 0 5%; } }
  @media (max-width: 768px) {
    .container {
      margin: 0 2%;
      width: 95%; } }

.content {
  width: 100%;
  min-height: 350px;
  padding: 15px;
  float: left; }

.stop-scroll {
  overflow: hidden; }

.add {
  position: fixed;
  right: 50px;
  bottom: -100px;
  border-radius: 50px;
  padding: 18px 35px;
  color: #fff;
  font-size: 3em;
  background-color: #F57979;
  cursor: pointer;
  animation: bummer 1.5s;
  animation-fill-mode: forwards; }
  @media (min-width: 768px) and (max-width: 1259px) {
    .add {
      padding: 5px 10px;
      right: 5px;
      font-size: 1.5em;
      border-radius: 0;
      bottom: 0;
      animation: none; } }
  @media (max-width: 768px) {
    .add {
      padding: 5px 10px;
      right: 5px;
      font-size: 1.5em;
      border-radius: 0;
      bottom: 0;
      animation: none; } }

@keyframes bummer {
  20% {
    bottom: 70px; }
  40% {
    bottom: 20px; }
  60% {
    bottom: 70px; }
  80% {
    bottom: 45px; }
  100% {
    bottom: 70px; } }

.text-danger {
  color: #F57979; }

.ipt {
  margin: 5px 0;
  padding: 15px;
  min-width: 250px;
  box-sizing: border-box;
  outline: none; }

.btn {
  display: block;
  margin: 5px 0;
  padding: 15px;
  min-width: 250px;
  text-align: center;
  clear: both;
  background-color: #1ABC9C;
  color: #fff;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .btn {
      max-width: 450px;
      width: 100%; } }

.type-1 {
  width: 100%; }
  .type-1 .tile {
    width: 20%;
    height: 160px; }
    @media (min-width: 768px) and (max-width: 1259px) {
      .type-1 .tile {
        width: 25%; } }
    @media (max-width: 768px) {
      .type-1 .tile {
        width: 50%; } }
  .type-1 .tile-2 {
    width: 40%;
    height: 160px; }
  .type-1 .tile-3 {
    width: 60%;
    height: 160px; }
  .type-1 .tile-4 {
    width: 80%;
    height: 160px; }
  .type-1 .tile-5 {
    padding: 15px;
    width: 100%;
    min-height: 160px; }

.type-2 {
  width: 100%; }
  .type-2 .tile {
    width: 20%;
    height: 160px; }
    @media (min-width: 768px) and (max-width: 1259px) {
      .type-2 .tile {
        width: 25%; } }
    @media (max-width: 768px) {
      .type-2 .tile {
        width: 50%; } }
  .type-2 .tile-2 {
    width: 40%;
    height: 160px; }
  .type-2 .tile-3 {
    padding: 15px;
    width: 60%;
    height: 160px; }
  .type-2 .tile-4 {
    padding: 15px;
    width: 80%;
    min-height: 160px; }
  .type-2 .tile-5 {
    padding: 15px;
    width: 100%;
    min-height: 160px; }
    @media (max-width: 768px) {
      .type-2 .tile-5 {
        overflow-x: auto; } }

.tile {
  cursor: pointer;
  text-align: center; }
  .tile span {
    margin-top: 20%;
    font-size: 4em; }
    @media (max-width: 768px) {
      .tile span {
        margin-top: 20%;
        font-size: 3em; } }
    @media (max-width: 450px) {
      .tile span {
        margin-top: 30%; } }
  @media (max-width: 450px) {
    .tile .icon-pencil {
      font-size: 2em; } }
  .tile .hover {
    margin-top: 25px;
    margin-left: -20px;
    position: fixed;
    padding: 5px;
    background: #fff;
    color: #333; }

.goal {
  width: 60%;
  float: left;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1259px) {
    .goal {
      width: 50%; } }
  .goal .selected {
    background-color: #16A085; }
  .goal .tile {
    width: 33.33%; }
    @media (min-width: 768px) and (max-width: 1259px) {
      .goal .tile span {
        font-size: 3em;
        margin-top: 32%; } }
    @media (max-width: 768px) {
      .goal .tile {
        width: 50%; } }
  @media (max-width: 768px) {
    .goal {
      margin-top: 160px;
      width: 100%;
      position: absolute; } }

.save-details {
  background-color: #5ad29b; }

.user-section {
  padding: 15px 0; }

.return {
  display: inline-block;
  padding: 5px 15px;
  background-color: #16A085;
  color: #fff;
  margin: 10px 0;
  border-radius: 5px;
  float: left; }

.overview {
  min-height: 200px;
  width: 49.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  float: left;
  padding: 15px;
  background-color: #20aa8f; }
  @media (max-width: 768px) {
    .overview {
      width: 100%; } }
  .overview h3 {
    margin-bottom: 15px; }
  .overview a {
    color: #fff; }
  .overview .description {
    min-height: 130px; }
    @media (max-width: 768px) {
      .overview .description {
        min-height: 200px; } }
  .overview .user-section a {
    display: inline-block;
    margin-right: 15px; }
  .overview .user-section p {
    display: inline-block; }

.liked span {
  color: #F57979; }

.selected .icon-food {
  display: none; }

.selected .icon-checkmark {
  display: block; }

@media (max-width: 768px) {
  .search {
    max-width: 450px;
    width: 100%; } }

.nobackground {
  background: none !important; }

.tinymce, .tinymce-img {
  min-height: 250px; }

.mce-path-item {
  display: none !important; }

.picture {
  width: 100%;
  float: right;
  padding: 15px; }
  .picture .btn {
    margin: 5px 0; }
  .picture img {
    max-height: 270px; }

.img-edit {
  margin-top: 15px;
  position: relative; }
  .img-edit #modelImg {
    min-height: 300px; }
  .img-edit img {
    width: 100%; }
  .img-edit label {
    background-color: rgba(154, 109, 99, 0.61);
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 25%;
    text-align: center;
    color: #fff; }
  .img-edit:hover label {
    display: block; }

.login {
  width: 250px;
  height: 200px;
  display: block;
  margin: 15% auto; }

.register {
  display: inline-block;
  float: left;
  padding: 15px; }
  .register .text-danger {
    color: darkred; }

.signout {
  position: relative; }
  .signout .signout-btn {
    width: 42px;
    padding: 10px;
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 5px;
    background: #F57979; }
    .signout .signout-btn .icon-exit {
      display: block;
      margin: 2px; }

.logo {
  padding: 15px; }
  .logo a {
    font-size: 34pt;
    font-weight: bold;
    color: #fff; }

.account-menu {
  float: left;
  width: 20%; }
  .account-menu li {
    list-style: none; }
    .account-menu li a {
      font-weight: bold;
      color: #fff; }

.account-details {
  width: 80%; }
  @media (max-width: 768px) {
    .account-details {
      width: 100%; } }
  .account-details li {
    list-style: none;
    margin: 20px 0; }
    .account-details li:first-child {
      margin-top: 0; }
    .account-details li .ipt {
      margin: 0;
      max-width: 300px; }
      @media (max-width: 768px) {
        .account-details li .ipt {
          width: 100%; } }
    .account-details li span:first-child {
      float: left;
      font-weight: bold; }
    .account-details li span {
      color: #fff;
      width: 40%; }
      @media (max-width: 768px) {
        .account-details li span {
          width: 100%;
          margin-bottom: 10px; } }
      .account-details li span a {
        color: #fff; }

.account-goals li {
  list-style: none; }

.modal-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  padding: 50px 15%; }

#modal {
  background-color: #16A085;
  padding: 15px; }

.diet {
  background-color: #16A085;
  color: #fff;
  padding: 15px; }
  .diet .mce-panel {
    background-color: #fff; }
  .diet .mce-btn {
    background-color: #fff; }

.create-diet {
  width: 100%; }
  .create-diet .ipt {
    width: 100%; }
  .create-diet .period {
    color: #fff;
    background-color: #5ad29b; }
    @media (max-width: 768px) {
      .create-diet .period {
        background-color: #1ABC9C; } }
    .create-diet .period a {
      color: #333; }
    .create-diet .period input {
      width: 100%; }
  .create-diet .days {
    width: 100%;
    padding: 15px;
    background-color: #F4B350;
    border: 1px solid rgba(133, 133, 133, 0.2);
    border-bottom: none; }
  .create-diet .meals {
    margin-bottom: 20px; }
  .create-diet .week-container {
    width: 48%;
    float: right;
    padding-top: 20px;
    margin-right: 1%;
    margin-bottom: 1%; }
    @media (max-width: 768px) {
      .create-diet .week-container {
        width: 96%;
        margin-right: 2%;
        margin-bottom: 2%; } }
    .create-diet .week-container .weeks {
      padding: 15px;
      width: 100%;
      background: #EB974E; }
    .create-diet .week-container .week {
      background: #1ABC9C; }
  .create-diet .pnl {
    padding: 15px;
    background-color: #FDE3A7;
    color: #333; }
    .create-diet .pnl a {
      color: #333; }
  .create-diet .btn {
    border: 1px solid rgba(133, 133, 133, 0.2);
    border-bottom: 0;
    margin: 0;
    color: #333; }
  .create-diet .add-more {
    border: none;
    background: #EB974E; }
  .create-diet .add-week {
    background: #EB974E; }
  .create-diet .information {
    width: 48%;
    float: left;
    padding: 15px;
    position: relative; }
    @media (max-width: 768px) {
      .create-diet .information {
        width: 100%; } }
  .create-diet .description-btn {
    background-color: #16A085; }
  .create-diet .mce-panel {
    background-color: #fff; }
  .create-diet .mce-btn {
    background-color: #fff; }

.diet-search {
  float: right;
  border: 1px solid #bebebe; }
  @media (max-width: 768px) {
    .diet-search {
      max-width: 450px;
      width: 100%; } }

.diet-schedule .schedule {
  width: 100%;
  margin-bottom: 20px;
  border-right: 1px solid #16A085; }
  @media (max-width: 768px) {
    .diet-schedule .schedule {
      overflow-x: auto; } }

.diet-schedule table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0; }
  .diet-schedule table thead {
    background-color: #1ABC9C; }
  .diet-schedule table td, .diet-schedule table th {
    padding: 15px 15px 15px 15px;
    vertical-align: text-top;
    border: 1px solid #16A085; }
  .diet-schedule table tr td {
    background-color: #96D4BF;
    padding: 0; }
    .diet-schedule table tr td:first-child {
      background-color: #1ABC9C;
      padding: 15px 15px 15px 15px; }
  .diet-schedule table table tr:first-child td {
    border-top: none;
    border-bottom: 1px solid #16A085; }
  .diet-schedule table table tr:last-child {
    border-bottom: 1px solid #16A085; }
  .diet-schedule table table tr td {
    border: none;
    padding: 15px 25px 15px 25px;
    border-top: 1px solid #16A085; }
    .diet-schedule table table tr td:first-child {
      background-color: #96D4BF;
      padding: 15px 15px 15px 15px; }

.diet-information {
  max-width: 750px;
  margin-bottom: 30px; }
  .diet-information img {
    display: block;
    width: 100%; }
  .diet-information .description {
    padding: 15px; }

.diet-overview .description {
  height: 150px; }

.search {
  border: 1px solid #bebebe; }

.fitness {
  width: 100%;
  display: inline-block; }
  .fitness .overview-fitness {
    min-height: 200px;
    width: 48%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 15px;
    color: #fff;
    float: left; }
    @media (min-width: 768px) and (max-width: 1259px) {
      .fitness .overview-fitness {
        width: 80%;
        max-width: 700px;
        float: none;
        margin: 20px auto; } }
    @media (max-width: 768px) {
      .fitness .overview-fitness {
        width: 100%; } }
    .fitness .overview-fitness a {
      color: #fff; }
  .fitness .user-section span {
    float: left;
    margin: 0 15px 10px 0;
    font-size: 1.2em; }
  .fitness .user-section p {
    float: left; }
  .fitness .index-info {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%; }
    .fitness .index-info img {
      width: 100%;
      height: 270px; }
      @media (min-width: 768px) and (max-width: 1259px) {
        .fitness .index-info img {
          height: 220px; } }
      @media (max-width: 768px) {
        .fitness .index-info img {
          height: 200px; } }
    .fitness .index-info .description {
      height: 140px; }
  .fitness .selected .icon-plus {
    display: none; }
  .fitness .selected .icon-checkmark {
    display: inline-block; }
  .fitness .user-section {
    display: inline-block; }
  .fitness .fitness-info {
    width: 48%; }
  .fitness .schedule {
    width: 48%; }
  .fitness .btn-day, .fitness .btn-week {
    width: 100%;
    padding: 15px;
    display: inline-block; }
  .fitness .btn-day {
    background: #F4B350; }
  .fitness .btn-week {
    background: #EB974E; }
  .fitness ul li {
    list-style: none; }
  .fitness .exercise-list {
    padding: 10px 0;
    background-color: #FDE3A7; }
    .fitness .exercise-list h5 {
      margin: 20px 0; }
    .fitness .exercise-list li {
      padding: 0 15px; }
      .fitness .exercise-list li ul li {
        padding: 0; }
  .fitness .create-info, .fitness .create-picture {
    width: 48%;
    display: inline-block; }
  .fitness .add-day {
    display: inline-block;
    background-color: #16A085;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 30px; }
  .fitness .add-exercise {
    border-radius: 3px;
    display: inline-block;
    background: #F4B350;
    padding: 5px;
    margin: 10px 0; }
  .fitness .add-week {
    display: inline-block;
    width: 100%;
    background: #EB974E;
    padding: 15px; }
  .fitness .autocomplete-container .autocomplete {
    margin-top: -10px; }
  .fitness .fit-gre {
    background-color: #16A085; }
  .fitness input, .fitness select {
    width: 100%;
    margin: 10px 0; }
  .fitness .mce-panel {
    background-color: #fff; }
  .fitness .mce-btn {
    background-color: #fff; }

.fitness-details {
  float: left;
  margin-bottom: 30px;
  width: 100%;
  padding: 15px; }
  .fitness-details img {
    max-width: 100%; }
  .fitness-details h1 {
    margin-top: 20px; }
  .fitness-details .description {
    max-width: 650px;
    margin: 20px 0; }
  .fitness-details ul {
    margin-left: 20px; }
    .fitness-details ul li {
      margin: 10px 0; }
      .fitness-details ul li ul li {
        font-size: 0.9em; }
  .fitness-details .day {
    margin: 5px; }
  .fitness-details .week {
    margin-bottom: 20px; }

.home-fitness {
  float: left;
  width: 100%;
  padding: 15px;
  background: #1ABC9C;
  color: #fff; }
  .home-fitness h3 {
    margin-bottom: 20px; }
  .home-fitness .explain .undone {
    background-color: #639C89; }
  .home-fitness .home-exercise {
    width: 100%;
    max-width: 300px;
    float: left;
    background: #639C89;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #828282;
    margin: 0.5px; }
    .home-fitness .home-exercise div {
      float: left; }
    .home-fitness .home-exercise div:nth-child(even) {
      text-align: right;
      float: right; }
  .home-fitness .done {
    background: #5ad29b; }

.autocomplete-container {
  position: relative; }
  .autocomplete-container .autocomplete {
    padding: 0;
    margin-top: -5px;
    position: absolute;
    width: 100%; }
    .autocomplete-container .autocomplete div:first-child a {
      border-top: 1px solid #e6e6e6; }
    .autocomplete-container .autocomplete a {
      background-color: #fff;
      display: block;
      padding: 15px;
      min-width: 100%;
      color: #333;
      outline: none;
      border: 1px solid #e6e6e6;
      border-top: none; }
      .autocomplete-container .autocomplete a:hover {
        background-color: #8ecfff; }
    .autocomplete-container .autocomplete .autocomplete-selected {
      background-color: #8ecfff; }

.progress {
  border-collapse: collapse;
  width: 100%; }
  .progress th {
    padding: 15px 0 5px 15px; }
  .progress .parent {
    cursor: pointer;
    border-collapse: collapse;
    background-color: #1ABC9C;
    width: 100%;
    max-width: 300px;
    border-right: 1px solid #16A085;
    border-bottom: 1px solid #16A085; }
    .progress .parent td {
      padding: 15px; }
      .progress .parent td div {
        text-align: right; }
  .progress .done {
    background-color: #5ad29b !important; }

.explain {
  display: inline-block; }
  .explain h3, .explain p {
    display: inline-block; }
  .explain span {
    display: inline-block;
    width: 30px;
    height: 20px; }
  .explain .done {
    background-color: #5ad29b; }
  .explain .undone {
    background-color: #1ABC9C; }
  .explain .con {
    display: inline-block; }
    .explain .con h3, .explain .con p, .explain .con .done, .explain .con .undone {
      float: left; }
    .explain .con p, .explain .con .done, .explain .con .undone {
      margin: 3px 0 0 10px; }
    .explain .con p {
      margin-left: 30px; }

.totalIntake {
  display: none;
  padding-top: 20%; }

.video-con {
  float: left;
  width: 100%; }
  .video-con .content {
    background-color: #bee1c8; }
  .video-con .menu-video {
    float: left; }
    .video-con .menu-video .btn {
      display: inline-block;
      padding: 10px;
      margin: 5px 0;
      background: #5ad29b; }
      @media (max-width: 768px) {
        .video-con .menu-video .btn {
          width: 100%; } }
    .video-con .menu-video .selected {
      background: #96D4BF; }
  .video-con .icon-bin, .video-con .icon-pencil, .video-con .icon-empty {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px; }
  .video-con .videos {
    float: left;
    width: 100%; }
    .video-con .videos .video-index:nth-child(odd) {
      margin-right: 2%; }
    .video-con .videos .video-index {
      float: left;
      color: #333;
      border: 1px solid #bebebe;
      background-color: #f5fae9;
      display: inline-block;
      width: 48%;
      padding: 15px;
      margin-bottom: 2%; }
      @media (min-width: 768px) and (max-width: 1259px) {
        .video-con .videos .video-index {
          width: 50%;
          margin-bottom: 15px; }
          .video-con .videos .video-index:nth-child(odd) {
            margin-right: 0; } }
      @media (max-width: 768px) {
        .video-con .videos .video-index {
          width: 100%;
          margin-bottom: 15px; } }
      .video-con .videos .video-index .player {
        position: relative; }
        .video-con .videos .video-index .player iframe {
          height: 350px;
          width: 100%;
          background: #333; }
        .video-con .videos .video-index .player .icon-play3 {
          font-size: 5em;
          position: absolute;
          color: #fff;
          top: 35%;
          left: 40%;
          cursor: pointer; }
      .video-con .videos .video-index h3 {
        height: 50px; }
      .video-con .videos .video-index .description {
        height: 120px;
        margin: 20px 0; }
    .video-con .videos .video {
      padding: 15px;
      color: #fff;
      background-color: #16A085;
      width: 60%; }
      @media (min-width: 768px) and (max-width: 1259px) {
        .video-con .videos .video {
          width: 100%; } }
      @media (max-width: 768px) {
        .video-con .videos .video {
          width: 100%; } }
      .video-con .videos .video .tags {
        padding: 15px;
        padding-left: 5px; }
        .video-con .videos .video .tags input {
          width: 163px !important;
          font: 12pt 'Roboto', 'Open Sans', Verdana, Calibri, sans-serif;
          font-weight: 500; }
      .video-con .videos .video table {
        width: 60%; }
        @media (max-width: 768px) {
          .video-con .videos .video table {
            width: 100%; } }
      .video-con .videos .video .ipt {
        width: 100%; }

.articles {
  width: 100%; }
  .articles .menu-article {
    float: left; }
    .articles .menu-article .btn {
      display: inline-block;
      padding: 10px;
      margin: 5px 0;
      background: #5ad29b; }
    .articles .menu-article .selected {
      background: #96D4BF; }
  .articles .no-results {
    float: left;
    padding: 15px;
    width: 100%;
    margin: 10px 0 0px 0; }
  .articles .article {
    float: left;
    padding: 15px;
    width: 100%;
    margin: 10px 0 0px 0; }
    .articles .article .article-content {
      margin: 15px 0;
      max-width: 750px; }
    .articles .article .icon {
      cursor: pointer;
      color: #333;
      margin: 0 4px; }
    .articles .article .liked {
      color: #F57979; }
    .articles .article .item {
      margin-bottom: 25px;
      border-bottom: 1px solid #fafaff; }

.create-articles {
  float: left;
  width: 100%; }
  .create-articles .article {
    width: 70%;
    padding: 15px;
    background-color: #96D4BF; }
    .create-articles .article table {
      width: 65%; }
    @media (max-width: 768px) {
      .create-articles .article {
        width: 100%; }
        .create-articles .article table {
          width: 100%; } }

.details-article {
  width: 100%;
  float: left;
  padding: 15px; }
  .details-article .content-article {
    margin: 25px 0;
    max-width: 850px; }
